$primary: #703CF7;
$secunday: #783FF5;
$gray: #FBFAFF;
$white: #FFF;
$black: #000000;
$fontePadrao: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

