.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  min-width: 100%;
  background-color: #FFF;
  color: #000;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75rem;
  width: 75rem;
}

.headerContent > h2 > a {
  font-weight: 900;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  min-width: 15rem;
  list-style-type: none;
}
