.project_details {
  padding: 2rem 0;
  width: 100%;
}

.project_details h1,
.project_details h2, 
.project_details p {
  margin-bottom: 1rem;
}

.project_details h1 {
  background-color: #222;
  color: #ffbb33;
  padding: 1.5rem;
  border-radius: .8rem;
}

.project_details span {
  font-weight: bold;
}

.details_container, 
.service_form_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: .1rem solid #7a7a7a;
}

.btn {
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 2.7rem 5rem;
    border-radius: .8rem;
    text-decoration: none;
    color: #fff;
    background-color: #222;
    transition: all 400ms ease-in-out;
    height: max-content;
    font-size: 1.5rem;
    -webkit-transition: all 5s ease-in-out;
}

.btn:hover {
  color: #fabb33;
}

.project_info{
  width: 100%;
}

