.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form_control label {
  font-weight: bold;
  margin-bottom: 2rem;
}

.form_control select {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #fff;
}

.form_control select::placeholder {
  color: #7b7b7b;
}