@import "../../../assets/scss/variables.scss";

.listItem {
  position: relative;
  cursor: pointer;
  font-size: 1.3em;
  color: $black;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: $primary;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }

  &:hover::before {
    width: 100%;
  }
}

