.main-container-home {
  max-width: 30rem;
  height: auto;
  border-radius: .5rem .5rem 0 0 ;
  padding: 1rem;
  background-color: #fff;
}

.main-container h1 {
  margin: 1rem 0;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-transform: capitalize;
}